<style>
.developer_ {
  text-align: justify;
  text-align-last: justify;
}
</style>
<fieldset class="cbi-section">
	<div class="developer_">
		<table width="100%"><tr><td>
		<span id="_Dreamacro"><%:_Dreamacro%></span>
		<span id="_vernesong"><%:_vernesong%></span>
		<span id="_frainzy1477"><%:_frainzy1477%></span>
		<span id="_SukkaW"><%:_SukkaW%></span>
		<span id="_lhie1_dev"><%:_lhie1_dev%></span>
		<span id="_ConnersHua_dev"><%:_ConnersHua_dev%></span>
		<span id="_haishanh"><%:_haishanh%></span>
		<span id="_MaxMind"><%:_MaxMind%></span>
		<span id="_FQrabbit"><%:_FQrabbit%></span>
		<span id="_Alecthw"><%: _Alecthw%></span>
		<span id="_Tindy_X"><%:_Tindy_X%></span>
		<span id="_lmc999"><%:_lmc999%></span>
		<span id="_dlercloud"><%:_dlercloud%></span>
		<span id="_immortalwrt"><%:_immortalwrt%></span>
		<span id="_MetaCubeX"><%:_MetaCubeX%></span>
		</td></tr></table>
	</div>
</fieldset>

